@import "tailwindcss";


@import url('https://fonts.cdnfonts.com/css/satoshi');

html {
  font-family: 'Satoshi', sans-serif;
}
                

.carousel-section {
  padding-top: 100px;
  padding-right: 16px;
  font-family: 'Satoshi', sans-serif;
}

.carousel-title {
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  margin-bottom:10px;
}
/* @media (min-width: 365px) {
  .carousel-title {
    font-size: 25px;
  }
} */
@media (min-width: 768px) {
  .carousel-title {
    font-size: 32px;
      margin-bottom:15px;
  }
}

@media (min-width: 1024px) {
  .carousel-title {
    font-size: 36px;
    margin-bottom: 20x;
  }
}

.carousel-wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
}

.carousel-track {
  display: flex;
  width: max-content;
  gap: 24px;
  animation: scroll-left 40s linear infinite;
}

.carousel-group {
  display: flex;
  gap: 24px;
}

.feature-card {
  min-width: 260px;
  max-width: 280px;
  flex-shrink: 0;
  padding: 20px;
  border-radius: 12px;
  color: white;
  text-align: left;
}

@media (min-width: 640px) {
  .feature-card {
    min-width: 280px;
    max-width: 300px;
  }
}

.feature-card img {
  width: 100px;
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .feature-card img {
    width: 120px;
  }
}

@media (min-width: 1024px) {
  .feature-card img {
    width: 130px;
  }
}

.feature-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .feature-card h3 {
    font-size: 20px;
  }
}

.feature-card p {
  font-size: 16px;
  color: #ededed;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .feature-card p {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  .feature-card p {
    font-size: 18px;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
